<section id="toolboard-titel">
    <h1><span class="accent-magenta">Het Toolboard.</span><br>Check!</h1>
</section>

<section id="principes">
    <h2><span class="accent-magenta">Principes. </span>En richtlijnen</h2>

    <article class="principe" id="waarneembaar">
        <section class="inleiding">
            <h2><span class="accent-magenta">Waarneembaar. </span>Principe 1</h2>
            <p>Informatie en componenten van de gebruikersinterface moeten toonbaar zijn aan gebruikers op voor
                hen waarneembare wijze.</p>
        </section>
        <section class="richtlijnen">
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 1.1<br>Tekstalternatieven</h3>
                    <label aria-label="Richtlijn 1.1 Tekstalternatieven">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Lever tekstalternatieven voor alle niet-tekstuele content, zodat die veranderd kan worden in
                    andere vormen die mensen nodig hebben, zoals grote letters, braille, spraak, symbolen of
                    eenvoudigere taal.
                </p>
                <p>
                    Alle niet-tekstuele content die aan de gebruiker wordt gepresenteerd, heeft een
                    tekstalternatief dat een gelijkwaardig doel dient, behalve voor de hierna vermelde
                    situaties.
                </p>
                <ul>
                    <li>
                        Bedieningselementen, invoer: Als niet-tekstuele content een bedieningselement is of
                        gebruikersinvoer accepteert, dan heeft deze een naam die het doel ervan beschrijft.
                    </li>
                    <li>
                        Op tijd gebaseerde media: Als niet-tekstuele content op tijd gebaseerde media is, dan
                        leveren tekstalternatieven ten minste een beschrijving van de niet-tekstuele content.
                    </li>
                    <li>
                        Test: Als niet-tekstuele content een test of oefening is die, als ze door middel van
                        tekst gepresenteerd wordt onjuist zou zijn, dan leveren tekstalternatieven ten minste
                        een beschrijving van de niet-tekstuele content.
                    </li>
                    <li>
                        Zintuiglijk: Als niet-tekstuele content primair is bedoeld om een specifieke
                        zintuiglijke ervaring te creëren, dan leveren tekstalternatieven ten minste een
                        beschrijving van de niet-tekstuele content.
                    </li>
                    <li>
                        CAPTCHA: Als het doel van niet-tekstuele content is om te bevestigen dat content wordt
                        gebruikt door een persoon in plaats van een computer, dan worden tekstalternatieven
                        geleverd die het doel van de niet-tekstuele content identificeren en beschrijven. En er
                        worden alternatieve vormen van CAPTCHA aangeboden gebruikmakend van uitvoermodes voor
                        verschillende soorten van zintuiglijke perceptie om tegemoet te komen aan verschillende
                        functiebeperkingen.
                    </li>
                    <li>
                        Decoratie, opmaak, onzichtbaar: Als niet-tekstuele content puur decoratief is, slechts
                        voor visuele opmaak wordt gebruikt, of niet aan gebruikers wordt gerepresenteerd, dan
                        wordt het op zo’n manier geïmplementeerd dat het genegeerd kan worden door
                        hulptechnologie.
                    </li>
                </ul>
            </details>
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 1.2<br>Op tijd gebaseerde media</h3>
                    <label aria-label="Richtlijn 1.2 Op tijd gebaseerde media">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Lever alternatieven voor op tijd gebaseerde media.
                </p>
                <p>
                    Voor media met vooraf opgenomen louter-geluid en vooraf opgenomen louter-videobeeld is het
                    volgende waar, behalve als de audio of video een media-alternatief voor tekst is en
                    duidelijk als zodanig is gelabeld:
                </p>
                <ul>
                    <li>
                        Vooraf opgenomen louter-geluid: Er wordt een alternatief geleverd voor op tijd
                        gebaseerde media dat equivalente informatie geeft voor vooraf opgenomen louter-geluid
                        content.
                    </li>
                    <li>
                        Vooraf opgenomen louter-videobeeld: Er wordt een alternatief geleverd voor op tijd
                        gebaseerde media of een geluidsspoor dat equivalente informatie geeft voor vooraf
                        opgenomen louter-videobeeld content.
                    </li>
                </ul>
                <p>
                    Er worden ondertitels voor doven en slechthorenden geleverd voor alle vooraf opgenomen
                    audiocontent in gesynchroniseerde media, behalve als het mediabestand een media-alternatief
                    voor tekst is en duidelijk als zodanig is gelabeld.
                </p>
                <p>
                    Er wordt een alternatief geleverd voor op tijd gebaseerde media of audiodescriptie van de
                    vooraf opgenomen videocontent geleverd voor gesynchroniseerde media, behalve als het
                    mediabestand een media-alternatief voor tekst is en duidelijk als zodanig is gelabeld.
                </p>
                <p>
                    Er wordt een audiodescriptie geleverd voor alle vooraf opgenomen videocontent in
                    gesynchroniseerde media.
                </p>
            </details>
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 1.3<br>Aanpasbaar</h3>
                    <label aria-label="Richtlijn 1.3 Aanpasbaar">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Creëer content die op verschillende manieren gepresenteerd kan worden (bijvoorbeeld
                    eenvoudiger
                    lay-out) zonder verlies van informatie of structuur.
                </p>
                <p>
                    Als de volgorde waarin content wordt gepresenteerd van invloed is op zijn betekenis, kan een
                    correcte leesvolgorde door software bepaald worden.
                </p>
                <p>
                    Instructies die geleverd worden om content te begrijpen en te bedienen zijn niet alleen
                    afhankelijk van zintuiglijke eigenschappen van componenten zoals vorm, kleur, omvang,
                    visuele locatie, oriëntatie of geluid.
                </p>
                <p>
                    De content beperkt de weergave en bediening niet tot een enkele presentatie-oriëntatie,
                    zoals staand of liggend, tenzij een specifieke presentatie-oriëntatie essentieel is.
                </p>
                <p>
                    Het doel van elk invoerveld waarmee informatie van de gebruiker wordt verzameld, kan door
                    software bepaald worden wanneer:
                </p>
                <ul>
                    <li>
                        Het invoerveld een doel dient dat is geïdentificeerd in de paragraaf Inputdoelen voor
                        Componenten van de Gebruikersinterface;
                    </li>
                    <li>
                        De content wordt geïmplementeerd met behulp van technologieën die ondersteuning bieden
                        bij het identificeren van de verwachte betekenis voor formulier-invoergegevens.
                    </li>
                </ul>

            </details>
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 1.4<br>Onderscheidbaar</h3>
                    <label aria-label="Richtlijn 1.4 Onderscheidbaar">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Maak het voor gebruikers gemakkelijker om content te horen en te zien, waaronder scheiding
                    van
                    voorgrond en achtergrond.
                </p>
                <p>
                    Kleur wordt niet als het enige visuele middel gebruikt om informatie over te brengen, een
                    actie aan te geven, tot een reactie op te roepen of een visueel element te onderscheiden.
                </p>
                <p>
                    Als een geluidsweergave op een webpagina automatisch meer dan 3 seconden speelt, is er of
                    een mechanisme beschikbaar om de geluidsweergave te pauzeren of te stoppen, of er is een
                    mechanisme beschikbaar om het geluidsvolume onafhankelijk van het overall systeemvolume te
                    regelen.
                </p>
                <p>
                    De visuele weergave van tekst en afbeeldingen van tekst heeft een contrastverhouding van ten
                    minste 4,5:1, behalve in de volgende gevallen:
                </p>
                <ul>
                    <li>
                        Grote tekst: Grote tekst en afbeeldingen van grote tekst hebben een contrastverhouding
                        van ten minste 3:1;
                    </li>
                    <li>
                        Incidenteel: Tekst of afbeeldingen van tekst die deel zijn van een inactieve component
                        van de gebruikersinterface, die puur decoratief zijn, die voor niemand zichtbaar zijn,
                        of die onderdeel zijn van een afbeelding die significant andere visuele content bevat,
                        hebben geen contrasteis.
                    </li>
                    <li>
                        Woordmerken: Tekst die onderdeel is van een logo of merknaam heeft geen contrasteis.
                    </li>
                </ul>
                <p>
                    Behalve voor ondertitels voor doven en slechthorenden en afbeeldingen van tekst, kan tekst
                    zonder hulptechnologie tot 200% geschaald worden zonder verlies van content of
                    functionaliteit.
                </p>
                <p>
                    Als de gebruikte technologieën de visuele weergave tot stand kunnen brengen, wordt tekst
                    gebruikt in plaats van afbeeldingen van tekst om informatie over te brengen, behalve in de
                    volgende gevallen:
                </p>
                <ul>
                    <li>
                        Aanpasbaar: De afbeelding van tekst kan visueel aangepast worden aan de eisen van de
                        gebruiker;
                    </li>
                    <li>
                        Essentieel: Een specifieke weergave van tekst is essentieel voor de informatie die wordt
                        overgebracht.
                    </li>
                </ul>

            </details>
        </section>
    </article>

    <article class="principe" id="bedienbaar">
        <section class="inleiding">
            <h2><span class="accent-magenta">Bedienbaar. </span>Principe 2</h2>
            <p>Componenten van de gebruikersinterface en navigatie moeten bedienbaar zijn.</p>
        </section>
        <section class="richtlijnen">
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 2.1<br>Toetsenbordtoegankelijk</h3>
                    <label aria-label="Richtlijn 2.1 Toetsenbordtoegankelijk">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Maak alle functionaliteit beschikbaar vanaf een toetsenbord.
                </p>
                <p>
                    Alle functionaliteit van de content is bedienbaar via een toetsenbordinterface zonder dat
                    afzonderlijke toetsaanslagen aan tijd gebonden zijn, behalve als de onderliggende functie
                    een invoer vereist die afhangt van het pad dat de gebruiker aflegt en niet alleen van de
                    eindpunten.
                </p>
                <p>
                    Als de toetsenbordfocus met de toetsenbordinterface verplaatst kan worden naar een component
                    van de pagina, dan kan de focus ook met alleen de toetsenbordinterface weer van dat
                    component weg worden bewogen. En, als er meer nodig is dan de standaard pijl- of tabtoetsen
                    of andere standaard methoden om de focus te verplaatsen, dan wordt de gebruiker geïnformeerd
                    over de manier waarop de focus kan worden verplaatst.
                </p>
                <p>
                    Wanneer een sneltoets in content wordt geïmplementeerd door alleen letters (inclusief
                    hoofdletters en kleine letters), leestekens, cijfers of symbolen te gebruiken, geldt ten
                    minste één van de volgende zaken:
                </p>
                <ul>
                    <li>
                        Uitzetten: Er is een mechanisme beschikbaar waarmee de sneltoets kan worden uitgezet;
                    </li>
                    <li>
                        Opnieuw toewijzen: Er is een mechanisme beschikbaar om de sneltoets opnieuw toe te
                        wijzen aan één of meerdere niet-afdrukbare tekens (bijv. Ctrl, Alt, enz.);
                    </li>
                    <li>
                        Alleen actief bij focus: De sneltoets voor een component van de gebruikersinterface is
                        alleen actief wanneer de betreffende component de focus heeft.
                    </li>
                </ul>

            </details>
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 2.2<br>Genoeg tijd</h3>
                    <label aria-label="Richtlijn 2.2 Genoeg tijd">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Geef gebruikers genoeg tijd om content te lezen en te gebruiken.
                </p>
                <p>
                    Voor elke tijdslimiet die door de content wordt ingesteld, geldt ten minste één van de
                    volgende zaken:
                </p>
                <ul>
                    <li>
                        Uitzetten: De gebruiker kan de tijdslimiet uitzetten voordat die wordt bereikt; of
                    </li>
                    <li>
                        Aanpassen: De gebruiker mag de tijdslimiet aanpassen voordat deze is verstreken over een
                        bereik van ten minste tien keer de standaardinstelling; of
                    </li>
                    <li>
                        Verlengen: De gebruiker wordt gewaarschuwd voor de tijd afloopt en krijgt ten minste 20
                        seconden om de tijdslimiet met een eenvoudige handeling te verlengen (bijvoorbeeld,
                        “druk op de spatiebalk”), en de gebruiker mag de tijdslimiet ten minste tien keer
                        verlengen; of
                    </li>
                    <li>
                        Real-time uitzondering: De tijdslimiet is onderdeel van een realtime gebeurtenis (een
                        veiling bijvoorbeeld) en er is geen alternatief voor de tijdslimiet mogelijk; of
                    </li>
                    <li>
                        Essentiële uitzondering: De tijdslimiet is essentieel en verlenging zou de activiteit
                        ongeldig maken; of
                    </li>
                    <li>
                        20 uur uitzondering: De tijdslimiet is langer dan 20 uur.
                    </li>
                </ul>
                <p>
                    Voor alle bewegende, knipperende, scrollende of automatisch actualiserende informatie gelden
                    alle volgende zaken:
                </p>
                <ul>
                    <li>
                        Bewegen, knipperen, scrollen: Voor bewegende, knipperende of scrollende informatie die
                        (1) automatisch start, (2) langer dan vijf seconden duurt, en (3) parallel met andere
                        content wordt getoond, is er een mechanisme voor de gebruiker om dit te pauzeren, te
                        stoppen of te verbergen, tenzij de beweging, knippering of scrolling, onderdeel is van
                        een activiteit waar ze essentieel is en
                    </li>
                    <li>
                        Automatisch actualiserend: Voor elke soort automatisch actualiserende informatie die (1)
                        automatisch start en (2) parallel met andere content wordt gepresenteerd, is er een
                        mechanisme voor de gebruiker om dit te pauzeren, te stoppen of te verbergen of de
                        frequentie van de actualisering in te stellen, tenzij de automatische actualisering
                        onderdeel is van een activiteit waar ze essentieel is.
                    </li>
                </ul>
            </details>
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 2.3<br>Toevallen en fysieke reacties</h3>
                    <label aria-label="Richtlijn 2.3 Toevallen en fysieke reacties">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Ontwerp content niet op een manier waarvan bekend is dat die toevallen of fysieke reacties
                    veroorzaakt.
                </p>
                <p>
                    Webpagina’s bevatten niets wat meer dan drie keer flitst in enige periode van één seconde of
                    de flits is beneden de algemene flits- en rodeflitsdrempelwaarden.
                </p>

            </details>
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 2.4<br>Navigeerbaar</h3>
                    <label aria-label="Richtlijn 2.4 Navigeerbaar">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Lever manieren om gebruikers te helpen navigeren, content te vinden en te bepalen waar ze
                    zijn.
                </p>
                <p>
                    Er is een mechanisme beschikbaar om blokken content die op meerdere webpagina’s worden
                    herhaald te omzeilen.
                </p>
                <p>
                    Webpagina’s hebben titels die het onderwerp of doel beschrijven.
                </p>
                <p>
                    Als in webpagina’s sequentieel genavigeerd kan worden en de navigatiesequenties hebben
                    invloed op de betekenis of het gebruik, dan krijgen focusbare componenten de focus in de
                    juiste volgorde waardoor betekenis en bedienbaarheid behouden blijft.
                </p>
                <p>
                    Het linkdoel kan bepaald worden uit enkel de linktekst of uit de linktekst samen met zijn
                    door software bepaalde linkcontext, behalve daar waar het doel van de link een dubbelzinnige
                    betekenis kan hebben voor gebruikers in het algemeen.
                </p>
                <p>
                    Er is meer dan één manier beschikbaar om een webpagina binnen een verzameling webpagina’s te
                    vinden, behalve wanneer de webpagina het resultaat is van, of een stap in, een proces.
                </p>
                <p>
                    Koppen en labels beschrijven het onderwerp of doel.
                </p>
                <p>
                    Elke gebruikersinterface die met een toetsenbord te bedienen is, heeft een bedieningswijze
                    waarbij de indicator van de toetsenbordfocus zichtbaar is.
                </p>
            </details>
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 2.5<br>Input Modaliteiten</h3>
                    <label aria-label="Richtlijn 2.5 Input Modaliteiten">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Maak het eenvoudiger voor gebruikers om de functionaliteit te bedienen met andere vormen van
                    invoer dan alleen het toetsenbord.
                </p>
                <p>
                    Alle functionaliteit waarmee bij de bediening gebruik wordt gemaakt van meerpunts- of
                    padgebaseerde gebaren, kan worden bediend met een enkele aanwijzer zonder een padgebaseerd
                    gebaar, tenzij een meerpunts- of padgebaseerd gebaar essentieel is.
                </p>
                <p>
                    Voor functionaliteit die kan worden bediend met een enkele aanwijzer, geldt ten minste één
                    van de volgende zaken:
                </p>
                <ul>
                    <li>
                        Geen down-event: De down-event van de aanwijzer wordt niet gebruikt om enig onderdeel
                        van de functie uit te voeren;
                    </li>
                    <li>
                        Afbreken of ongedaan maken: De functie wordt voltooid door de up-event en er is een
                        mechanisme beschikbaar om de functie af te breken voordat deze wordt voltooid of om de
                        functie ongedaan te maken als deze is voltooid;
                    </li>
                    <li>
                        Up reversal: Met het up-event wordt elk resultaat van het voorgaande down-event ongedaan
                        gemaakt;
                    </li>
                    <li>
                        Essentieel: Het voltooien van de functie met de down-event is essentieel.
                    </li>
                </ul>
                <p>
                    Bij componenten van de gebruikersinterface met labels die tekst of afbeeldingen van tekst
                    bevatten, bevat de naam de tekst die visueel wordt weergegeven.
                </p>
                <p>
                    Functionaliteit die kan worden bediend door de beweging van een apparaat of beweging van een
                    gebruiker, kan ook worden bediend met componenten van de gebruikersinterface. De reactie op
                    de beweging kan worden uitgeschakeld om onbedoelde activering te voorkomen, behalve wanneer:
                </p>
                <ul>
                    <li>
                        Ondersteunde interface: De beweging wordt gebruikt om de functionaliteit te bedienen via
                        een door toegankelijkheid ondersteunde interface;
                    </li>
                    <li>
                        Essentieel: De beweging is essentieel voor de functie en wanneer de reactie op de
                        beweging wordt uitgeschakeld, wordt de activiteit ongeldig gemaakt.
                    </li>
                </ul>

            </details>
        </section>
    </article>

    <article class="principe" id="begrijpelijk">
        <section class="inleiding">
            <h2><span class="accent-magenta">Begrijpelijk. </span>Principe 3</h2>
            <p>Informatie en de bediening van de gebruikersinterface moeten begrijpelijk zijn.</p>
        </section>
        <section class="richtlijnen">
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 3.1<br>Leesbaar</h3>
                    <label aria-label="Richtlijn 3.1 Leesbaar">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Maak tekstcontent leesbaar en begrijpelijk.
                </p>
                <p>
                    De standaard menselijke taal van diverse webpagina’s kan door software bepaald worden.
                </p>
                <p>
                    De menselijke taal van elke passage of zin in de content kan door software bepaald worden,
                    behalve waar het gaat om eigennamen, technische termen, woorden van onbepaalde taal en
                    woorden of zinsdelen die deel zijn gaan uitmaken van het jargon van de onmiddellijk
                    omringende tekst.
                </p>

            </details>
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 3.2<br>Voorspelbaar</h3>
                    <label aria-label="Richtlijn 3.2 Voorspelbaar">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Maak het uiterlijk en de bediening van webpagina’s voorspelbaar.
                </p>
                <p>
                    Als een component van de gebruikersinterface de focus krijgt, dan veroorzaakt dat geen
                    contextwijziging.
                </p>
                <p>
                    Verandering van de instelling van een component van de gebruikersinterface veroorzaakt niet
                    automatisch een contextwijziging, tenzij de gebruiker geïnformeerd is over het gedrag vóór
                    het gebruik van de component.
                </p>
                <p>
                    Navigatiemechanismen, die op meerdere webpagina’s binnen een verzameling webpagina’s
                    herhaald worden, komen elke keer dat ze worden herhaald in dezelfde relatieve volgorde voor,
                    tenzij een verandering wordt geïnitieerd door de gebruiker.
                </p>
                <p>
                    Componenten die dezelfde functionaliteit hebben binnen een verzameling webpagina’s worden
                    consistent geïdentificeerd.
                </p>
            </details>
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 3.3<br>Assistentie bij invoer</h3>
                    <label aria-label="Richtlijn 3.3 Assistentie bij invoer">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Help gebruikers om fouten te vermijden en ze te verbeteren.
                </p>
                <p>
                    Als een invoerfout automatisch ontdekt wordt, dan wordt het onderdeel waar de fout zit
                    geïdentificeerd en wordt de fout tekstueel aan de gebruiker meegedeeld.
                </p>
                <p>
                    Als de content gebruikersinvoer vereist, dan worden labels of instructies geleverd.
                </p>
                <p>
                    Als een invoerfout automatisch ontdekt wordt en suggesties voor verbetering bekend zijn, dan
                    worden de suggesties aan de gebruiker geleverd, tenzij dit de beveiliging of het doel van de
                    content in gevaar zou brengen.
                </p>
                <p>
                    Voor webpagina’s die wettelijke verplichtingen of financiële transacties voor de gebruiker
                    uitvoeren, die, door gebruikers bedienbaar gegevens in gegevensopslagplaatsen verwijderen of
                    wijzigen, of die antwoorden van de gebruiker verzenden, geldt ten minste één van de volgende
                    zaken:
                </p>
                <ol>
                    <li>
                        Omkeerbaar: Verzendingen kunnen ongedaan gemaakt worden.
                    </li>
                    <li>
                        Gecontroleerd: Door de gebruiker ingevoerde gegevens worden gecontroleerd op
                        invoerfouten en de gebruiker wordt de mogelijkheid gegeven om ze te verbeteren.
                    </li>
                    <li>
                        Bevestigd: Er is een mechanisme beschikbaar voor het beoordelen, bevestigen en
                        verbeteren van informatie voordat de verzending wordt voltooid.
                    </li>
                    </ul>
            </details>
        </section>
    </article>

    <article class="principe" id="robuust">
        <section class="inleiding">
            <h2><span class="accent-magenta">Robuust. </span>Principe 4</h2>
            <p>Content moet voldoende robuust zijn om betrouwbaar geïnterpreteerd te kunnen worden door een
                breed scala van user agents, met inbegrip van hulptechnologieën.</p>
        </section>
        <section class="richtlijnen">
            <details>
                <summary>
                    <svg class="arrow" width="12" height="7" viewBox="0 0 12 7" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.700048 6.69999C0.516715 6.51665 0.425049 6.28332 0.425049 5.99999C0.425049 5.71665 0.516715 5.48332 0.700048 5.29999L5.30005 0.699987C5.40005 0.599987 5.50838 0.528988 5.62505 0.486988C5.74172 0.445655 5.86672 0.424988 6.00005 0.424988C6.13338 0.424988 6.26271 0.449988 6.38805 0.499988C6.51271 0.549988 6.61672 0.616654 6.70005 0.699987L11.3 5.29999C11.4834 5.48332 11.575 5.71665 11.575 5.99999C11.575 6.28332 11.4834 6.51665 11.3 6.69999C11.1167 6.88332 10.8834 6.97499 10.6 6.97499C10.3167 6.97499 10.0834 6.88332 9.90005 6.69999L6.00005 2.79999L2.10005 6.69999C1.91672 6.88332 1.68338 6.97499 1.40005 6.97499C1.11672 6.97499 0.883382 6.88332 0.700048 6.69999V6.69999Z"
                            fill="black" />
                    </svg>
                    <h3>Richtlijn 4.1<br>Compatibel</h3>
                    <label aria-label="Richtlijn 4.1 Compatibel">
                        <input type="checkbox">
                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4.00005 6.60005L9.90005 0.700048C10.0834 0.516715 10.3167 0.425049 10.6 0.425049C10.8834 0.425049 11.1167 0.516715 11.3 0.700048C11.4834 0.883382 11.575 1.11671 11.575 1.40005C11.575 1.68338 11.4834 1.91672 11.3 2.10005L4.70005 8.70005C4.50005 8.90005 4.26672 9.00005 4.00005 9.00005C3.73338 9.00005 3.50005 8.90005 3.30005 8.70005L0.700048 6.10005C0.516715 5.91672 0.425049 5.68338 0.425049 5.40005C0.425049 5.11671 0.516715 4.88338 0.700048 4.70005C0.883382 4.51672 1.11672 4.42505 1.40005 4.42505C1.68338 4.42505 1.91672 4.51672 2.10005 4.70005L4.00005 6.60005Z"
                                fill="none" />
                        </svg>
                    </label>
                </summary>
                <p>
                    Maximaliseer compatibiliteit met huidige en toekomstige user agents, met inbegrip van
                    hulptechnologieën.
                </p>
                <p>
                    In content die geïmplementeerd is met opmaaktalen hebben elementen volledige begin- en
                    eindtags, zijn elementen genest volgens hun specificatie, bevatten elementen geen dubbele
                    attributen en zijn alle ID’s uniek, behalve waar de specificatie deze eigenschappen toelaat.
                </p>
                <p>
                    Voor alle componenten van de gebruikersinterface (inclusief, maar niet uitsluitend voor
                    formulierelementen, links en door scripts gegenereerde componenten), kunnen de naam (name)
                    en rol (role), door software bepaald worden; toestanden (states), eigenschappen (properties)
                    en waarden (values) die door de gebruiker ingesteld kunnen worden, kunnen door software
                    bepaald worden; en kennisgeving van veranderingen in deze items is beschikbaar voor user
                    agents, met inbegrip van hulptechnologieën.
                </p>
                <p>
                    In content die is geïmplementeerd met opmaaktalen kunnen statusberichten door software
                    bepaald worden met behulp van rol (role) of eigenschappen (properties), zodat
                    hulptechnologieën de berichten aan de gebruiker kunnen presenteren zonder dat ze de focus
                    krijgen.
                </p>

            </details>
        </section>
    </article>

</section>